<h3><i class="fas fa-microphone"></i>Climate Stories</h3>
<div class="section">
    <p class="lead">WRITE: Let's create awareness on climate change and share sustainable living ideas.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/googgle" class="btn green darken-2">
    <i class="fab fa-google right"></i>Login with Google</a>
</div>